<%= form_with(url: search_results_teams_path, method: "get", local: true) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<div class="col-lg-">
  <% @teams.each do |team| %>
      <p><%= image_tag url_for(team.image), class: 'img-thumbnail' %><p>
      <p><%= link_to team.name, team, class: 'btn btn-link' %></p>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>