<% @jerseys.each do |jersey| %>
  <div class="card">
  <%= image_tag url_for(jersey.image), class: 'card-img-top', alt: jersey %>
  <div class="card-body">
    <%= link_to jersey.name, jersey, class: 'card-text' %>
    <%= number_to_currency jersey.price, class: 'card-text' %>
    <% if @cart.include?(jersey) %>
      <p>Already in your cart</p>
    <% else %>
      <p><%= link_to 'add to cart', add_to_cart_path(jersey.id), method: :post, class: 'card-text' %></p>
    <% end %>
  </div>
  </div>
<% end %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
x<% end %>