<%= form_with(url: search_results_jerseys_path, method: "get", local: true) do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<div class="col">
<% @jerseys.each do |jersey| %>
    <%= image_tag url_for(jersey.image), class: 'img-thumbnail', width: '25%' %>
    <%= link_to jersey.name, jersey, class: 'btn btn-link' %>
    <%= jersey.price %>
    <button type="button" class="btn btn-info">Add to Cart</button>
<% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>